/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Montserrat:wght@400;600&display=swap');
/*Asterisk selector to override browser styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color:#36382E;
    font-family: 'Fira Sans', sans-serif;
}

/*Header*/
header {
    background-color: #36382E;
    font-size: 77%;
    padding: 0.9rem 0.3rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 2px 3px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #DADAD9 ;
    font-size: 170%;
    text-shadow: #36382E;
    letter-spacing: 3px;
    box-shadow: 2px 2px 5px;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
    color: #36382E;
    margin-top:10%;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1.5em;
}

.active {
    border-bottom: 1px solid #DADAD9;
}

/*Navbar styles*/
nav {
    position:absolute;
    background-color:#DADAD9;
    left:0;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}
    
#nav-toggle {
    display:none;
}
    
.nav-toggle-label {
    font-size: 2rem;
}

/*Main content*/
main {
    background-color:white;
    flex: 1 0 auto;
    margin-top: 70px;
}

/*Hero section*/
#hero-section {
    flex-direction: column;
    width: 100%;
    height:450px;
    background-image: url(../images/Hero-image.webp);
    background-size: cover;
    background-position: center center;

}

.hero-text {
    color: #DADAD9;
    text-align:start;
    font-family:'Montserrat', sans-serif;
    width: 90%;
    padding-top: 220px;
    padding-left: 10px;
}
/*About Trainer section*/
.introduction {
    padding: 20px 20px ;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
}
.trainer h3 {
     text-align: center;
     font-weight: normal;
     margin-top: 5%;
}
.trainer p {
    text-align: center;
    padding: 20px 30px;
    font-weight: 300;
}

.trainer img {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center center;
}
/*Masterclasses section*/
#masterclass-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: stretch;
    background-color:white;
    padding: 10px;
}

.natural-everyday , .runway-fashion , .bridal {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid;
    border-radius: 8px;;
    color: #DADAD9;
    background-color:#36382E;
}

.natural-everyday p , .runway-fashion p , .bridal p {
    margin-top: 10px;
    text-align: start;
    padding-top: 8px;
}
.natural-everyday h3 , .runway-fashion h3 , .bridal h3 {
    color:#EDE6E3;
    font-weight: bold;
    margin-top: 15px;
    text-align: start;
}
.natural-everyday ul , .runway-fashion ul , .bridal ul {
    text-align: start;
    font-size: 15px;
    margin-top: 15px;
}
.natural-everyday li , .runway-fashion li , .bridal li {
    list-style-type: none;
}

/*Gallery*/
#gallery img {
    width:100%;
}
.photoshoot-images {
    line-height: 0;
}

/*Footer*/
    
#footer-info {
    color: #DADAD9;
    background-color: #36382E;
    padding: 25px 0;
    top: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*Embedded Google map*/

.google-map {
    padding-bottom: 70%;
    position: relative;
    margin:3%;
}
    
.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.contact p {
    font-size: 70%;
    line-height: 2;
    text-align: center;
}

.location p {
    font-size: 70%;
    line-height: 2;
    text-align: center;
}

.social-icons i {
    color: #DADAD9;
    letter-spacing: 1rem;
    font-size: 120%;
    margin-top: 1rem;
}
    
.contact h3 {
    font-size: 70%;
    text-align: center;
}
    
.location h3 {
    font-size: 70%;
    text-align: center;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
       display:block;
       position: relative;
       box-shadow: none;
       width: fit-content;
       padding-right: 1rem;
       background-color: #36382E;
       font-size: 120%;
    }

    #menu {
       display: flex;
    }
    
    #menu > li {
       padding-left: 1rem;
       color:#DADAD9;
       background-color: #36382E;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 300%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        margin-top: 108px;
    }

    /*Hero section*/
    #hero-section {
        height:370px;
    }
    .hero-text {
        width: 42%;
        padding-top: 140px;
        padding-left: 20px;
    }

   /*Trainer Intro and Masterclasses sections*/
    .introduction h2 {
        padding: 10px 80px;
    }

    .introduction p {
        font-size: 110%;
        font-style: italic;
        padding-left: 20px;
        padding-right: 20px;
    }
    .trainer img {
        width: 100%;
        height: 600px;
        margin-top: 2%;
        padding: 20px 20px;
    }
    .trainer h3 {
        margin-top:0;
        font-size: 200%;
    }
    .trainer p {
        padding-left: 40px;
        padding-right: 40px;
        text-align:center;
        font-size: 120%;
    }

    #masterclass-container {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    /*Gallery*/
    #gallery {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 0;
    }

    .photoshoot-images {
        column-count: 2;
        column-gap: 0;
        line-height:0;
    }

    /*Footer*/
    #footer-info {
        text-align: center;
        padding: 10px 0;
        display: flex;
        justify-content: space-evenly;
    }
    
    .contact {
        font-size: 150%;
    }
    
    .location {
        font-size: 150%;
    }

    .social-icons i {
        font-size: 130%;
        padding-bottom: 1rem;
    }
    /*Embedded Google map*/
    .google-map {
        padding-bottom: 45%;
        margin:0;
    }
}

/* Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #menu a:hover {
        border-bottom: 1px solid #DADAD9;
    }
    /*Hero section*/
    #hero-section {
        height:500px;
    }

    .hero-text {
     width: 40%;
     padding-top: 240px;
     padding-left: 20px;
    }

    /*Embedded Google map*/
    .google-map {
        padding-bottom: 25%;
        margin: 0;
    }
    
    /*Trainer Intro and Masterclasses sections*/
    #trainer-container {
        columns: 2;
        column-gap: 50px;
        text-align: center;
        margin-top: 30px;
    }
    .trainer h3 {
        font-size: 40px;
        padding-top: 15%;
        padding-right: 10%;
    }
    
    .trainer p {
        text-align: center;
        margin-top: 10px;
        font-size: 1.2rem;
        padding-right: 20%;
    }

    .trainer img {
        width: 80%;
        height:500px;
        padding-left: 10px;
        padding-top: 5px;
        border: 2px solid white;
        border-radius: 50%;
    }
    
    #masterclass-container {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: stretch;
        padding: 20px;
    }
     /*Gallery*/
    #gallery {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 0;
    }

    .photoshoot-images {
        column-count: 3;
        column-gap: 0;
        line-height:0;
        padding-bottom: 20px;
    }
    /*Footer*/
    #footer-info {
        text-align: center;
        padding: 10px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }
    
    .contact {
        font-size: 170%;
    }
    
    .location {
        font-size: 170%;
    }
    
    .social-icons i {
        font-size: 200%;
        padding-bottom: 1rem;
    }

    
    
}